<form [formGroup]="bookForm" (ngSubmit)="save()">
  <div class="row mb-3">
    <label for="author" class="col-2 col-form-label">Author:</label>
    <div class="col-sm-10">
      <input formControlName="author"
             class="col-sm-10 form-control" id="author">
      <div class="invalid-feedback">{{getErrorsOf(bookForm.get('author'))}}</div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="title" class="col-2 col-form-label">Title:</label>
    <div class="col-sm-10">
      <input formControlName="title"
             class="form-control" id="title">
      <div class="invalid-feedback">{{getErrorsOf(bookForm.get('title'))}}</div>
    </div>
  </div>
  <button [disabled]="bookForm.invalid"
          type="submit" class="btn btn-primary">Save</button>
</form>
